@use "navbar";
@use "fonts";
@use "flex";
@use "buttons";
@use "grid";
@use "cards";
@use "spacing";
@use "layout";
@use "tables";
@use "forms";
@use "pills";
@use "warnings";
@use "colors";
@use "spinners";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;800;900&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
}

.bannercontratista-container {
  background: linear-gradient(to right, #6c6b6b 0%, #a4a4a6 100%);
  padding: 2rem 0;
  position: relative;
  height: 570px;
  width: 100%;
  min-width: 100%;
}

.bannercontratista-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 0rem;
}

.bannercontratista-text {
  flex: 1;
  max-width: 600px;

  .taglinecontratista {
    font-weight: 700;
    color: white;
    font-size: 1.2rem;
    text-align: left;
    letter-spacing: 2px;
    margin-top: 100px;
  }

  .headlinecontratista {
    color: white;
    font-size: 2.6rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
    line-height: 1.3;
  }

  p {
    color: white;
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
    line-height: 1.3;
    text-align: left;
  }

  .btn-registercontratista {
    background-color: #fdbe33;
    border: none;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 0.5rem;
    animation: levitate 3s infinite;

    &:hover {
      background-color: #ffda59;
    }
  }
}

.bannercontratista-image {
  flex: 1;
  display: flex;
  justify-content: left;
  padding: 1rem;

  img {
    position: absolute;
    top: 32px;
    right: 140px;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.taglinecontratista {
  animation: zoomIn 2s ease-out forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.headlinecontratista {
  animation: fadeInUp 2s ease-out forwards;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.subtextcontratista {
  animation: slideInRight 2s ease-out forwards;
}
