@use "navbar";
@use "fonts";
@use "flex";
@use "buttons";
@use "grid";
@use "cards";
@use "spacing";
@use "layout";
@use "tables";
@use "forms";
@use "pills";
@use "warnings";
@use "colors";
@use "spinners";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;800;900&display=swap");

.bannerclient-container {
  background: linear-gradient(to right, #1e124a 0%, #170460 51%, #230496 100%);
  padding: 2rem 0;
}

.bannerclient-text {
  max-width: 600px;
  margin-left: 10rem;

  .taglineclient {
    font-weight: 700;
    color: white;
    font-size: 1.2rem;
    text-align: left;
    letter-spacing: 3px;
    text-align: 50px;
    margin-top: 100px;
  }

  .headlineclient {
    color: white;
    font-size: 2.6rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
    line-height: 1.3;
  }

  p {
    color: white;
    font-size: 1.3rem;
    margin-bottom: 2rem;
    line-height: 1.3;
    margin-bottom: 1.5rem;
    text-align: left;
  }

  .btn-registerclient {
    background-color: #fdbe33;
    border: none;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 0.5rem;
    animation: levitate 3s infinite;

    &:hover {
      background-color: #ffda59;
    }
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.headlineclient {
  animation: fadeInUp 2s ease-out forwards;
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes rotateIn {
  from {
    transform: rotate(-200deg);
    opacity: 0;
  }
  to {
    transform: rotate(0);
    opacity: 1;
  }
}
@keyframes fadeScaleIn {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.bannerclient-content {
  display: flex;
  flex-wrap: wrap;
}

.clind {
  animation: fadeInUp 2s ease-out forwards;
  mask-image: none;
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgb(255, 255, 255) 75%,
    transparent
  );
}

.taglineclient {
  animation: zoomIn 2s ease-out forwards;
}

@keyframes flipInX {
  from {
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
  to {
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.subtextclientx {
  animation: slideInRight 2s ease-out forwards;
}

@media (max-width: 1300px) {
  .bannerclient-text {
    margin: 0 auto;
  }
  .clind {
    margin: 0 auto;
  }
}

@media (max-width: 908px) {
  .clind {
    margin: 0 auto;
  }

  .bannerclient-text {
    margin: 0 auto;
    margin-left: 1rem;
  }
}

@media (max-width: 508px) {
  .clind {
    margin: 0 auto;
    width: 400px;
  }

  .bannerclient-text {
    margin: 0 auto;
    margin-left: 1rem;
  }
}
