.section-foter {
  background: linear-gradient(to right, #ff9900 0%, #dc8400 51%, #995c00 100%);
  padding: 5rem 0;
  position: relative;
  height: 530px;
  width: 100%;
  min-width: 100%;
}
.section-foter1 {
  background-color: #030f27;
  height: 800px;
  width: 100%;
  min-width: 100%;
}
.section-foter2 {
  background-color: rgb(224, 7, 7);
  height: 800px;
  width: 100%;
  min-width: 100%;
}
.section-foter3 {
  background-color: rgb(7, 14, 224);
  height: 800px;
  width: 100%;
  min-width: 100%;
}
