.section-foter {
  background: linear-gradient(to right, #ff9900 0%, #dc8400 51%, #995c00 100%);
  padding: 5rem 0;
  position: relative;
  height: 530px;
  width: 100%;
  min-width: 100%;
}
.section-foter1 {
  background-color: #030f27;
  height: 800px;
  width: 100%;
  min-width: 100%;
}
.section-foter2 {
  background: linear-gradient(to right, #ff9900 0%, #dc8400 51%, #995c00 100%);
  height: 800px;
  width: 100%;
  min-width: 100%;
}
.section-foterrrer {
  background-color: #030f27;
  height: 1200px;
  width: 100%;
  min-width: 100%;
}
.sectioncuatro {
  background-color: #fdbe33;
  height: 400px;
  width: 100%;
  min-width: 100%;
}
