.containerph {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav content aside"
    "footer footer footer";
  grid-template-columns: 100px 1fr 100px;
  grid-template-rows: 300px 1fr 1px;
  gap: 5px;
  background: #fdbe33;
  display: flex;
  flex-wrap: wrap;
}

.main-containerph {
  background: #fdbe33;
  padding: 15px;
  text-align: center;
  margin-top: 40px;
  margin-left: -120px;
}

.contentph {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
  margin-bottom: 4rem;
  max-width: 100%; /* ✅ que no supere su celda */
  overflow-x: clip;
}
.main-k {
  padding: 80px 20px;
  text-align: center;
  width: 1000px;
  max-width: 1100px;
  margin-left: 22rem;
  view-timeline-name: --texto;
  view-timeline-axis: block;
  animation-timeline: --texto;
  animation-name: show;
  animation-range: entry 20% cover 35%;
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
  will-change: opacity, transform, filter;
}
@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(60px) scale(0.95);
    filter: blur(8px);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
    filter: blur(0);
  }
}

.tixtsss {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 72px;
  letter-spacing: -1.5px;
  color: #030f27;
  text-align: center;
  margin: 0;
  font-size: clamp(20px, 8vw, 44px);
}
.contnavpx {
  margin: 0 auto;
  grid-area: nav;
}

.paxfo {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: -1.5px;
  color: #030f27;
  text-align: center;
  margin: 1rem 0 0 0;
}

@media (min-width: 1900px) {
  .contnavpx {
    margin-left: 14rem;
  }
  .contentph {
    margin-bottom: 4rem;
  }
}

@media (max-width: 1600px) {
  .contentph {
    margin: 0 auto;
    margin-bottom: 4rem;
  }
  .contnavpx {
    margin: 0 auto;
  }
}

@media (max-width: 950px) {
  .contentph {
    margin: 0 auto;
    margin-bottom: 4rem;
  }
  .contnavpx {
    margin: 0 auto;
  }
  .imagenlaptop {
    width: 450px;
  }
}

@media (max-width: 500px) {
  .contentph {
    margin: 0 auto;
    margin-bottom: 4rem;
  }
  .contnavpx {
    margin: 0 auto;
  }
  .imagenlaptop {
    width: 400px;
  }
}
