.containerphx {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav content aside"
    "footer footer footer";
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: auto 1fr auto;
  gap: 5px;
  background-color: #030f27;
  display: flex;
  flex-wrap: wrap;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(60px) scale(0.95);
    filter: blur(8px);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
    filter: blur(0);
  }
}

.main-x {
  background: #030f27;
  padding: 15px;

  view-timeline-name: --ss;
  view-timeline-axis: block;

  animation-timeline: --ss;
  animation-name: show;
  animation-range: entry 20% cover 35%;
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
  will-change: opacity, transform, filter;
}

.contentpxx {
  background: #030f27;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 500px;
  margin-left: 510px;
  margin-top: -10px;
}

.acidepersons {
  grid-area: aside;
  margin-left: 0rem;
}

.contnavpxx {
  border-radius: 10px;
  margin-top: -1rem;
  margin-left: 14rem;
  margin-bottom: 3rem;
  grid-area: nav;
  max-width: 100%; /* ✅ que no supere su celda */
  overflow-x: clip;
}

.tixtsssx {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 50px;
  line-height: 72px;
  letter-spacing: -1.5px;
  color: #ffffff;
  text-align: center;
  margin-top: 3rem;
  font-size: clamp(20px, 8vw, 44px);
}

.paxfox {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: -1.5px;
  color: #fffbf4;
  margin: 1rem 0 0 0;
  text-align: center;
}

.asidecontratista {
  grid-area: nav;
}
.contratust {
  grid-area: aside;
  mask-image: none;
  -webkit-mask-image: linear-gradient(
    to bottom,

    rgb(0, 0, 0) 60%,
    transparent
  );
}
@media (max-width: 2000px) {
  .contnavpxx {
    margin-left: 13rem;
  }
  .acidepersons {
    margin: 0 auto;
  }
}

@media (max-width: 1500px) {
  .acidepersons {
    margin: 0 auto;
    margin-bottom: 4rem;
  }
  .contnavpxx {
    margin: 0 auto;
  }
}

@media (max-width: 950px) {
  .acidepersons {
    margin: 0 auto;
    margin-bottom: 4rem;
    margin-top: 2rem;
  }
  .contnavpxx {
    margin: 0 auto;
  }
  .contratust {
    width: 500px;
  }
}

@media (max-width: 500px) {
  .acidepersons {
    margin: 0 auto;
    margin-bottom: 4rem;
    margin-top: 2rem;
  }

  .contnavpxx {
    margin: 0 auto;
  }
  .contratust {
    width: 400px;
  }
}
