@use "colors";

.contenedor-principal {
  color: colors.$secondary;
  justify-content: center;
  display: flex;
  margin-bottom: 2 rem;
}
.nombre-constructor-card {
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
  color: black;
  font-family: "Poppins", sans-serif;
}
/* ===== HOVER BOTÓN SOBRE IMAGEN ===== */

.item-imagen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* wrapper que contiene imagen + botón */
.imagen-wrapper {
  position: relative;
  width: 220px;
  height: 220px;
}

/* imagen */
.imagen-wrapper img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
}

/* botón oculto por defecto */
.imagen-wrapper .btn_primary_theme {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%) translateY(10px);
  opacity: 0;
  pointer-events: none;
}

/* mostrar botón al hover */
.imagen-wrapper:hover .btn_primary_theme {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(-50%) translateY(0);
}

.btn_primary_theme {
  background-color: colors.$primary;
  height: 30px;
  width: 150px;
  color: white;
  bottom: 20px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.5s ease;
  box-shadow: 0 4px 15px rgba(199, 192, 11, 0.74);
  background-image: linear-gradient(
    150deg,
    colors.$primary,
    #856015 0%,
    #f4a70cc5 100%
  );
}
.input-groups {
  display: flex;
  justify-content: left;
  .input-gr {
    width: 100%;
    height: 50px;
    padding: 0 1rem;
    border-radius: 8px;
    color: #000000;
    font: 500 1rem/1.2 "Poppins", system-ui, sans-serif;
    outline: none;
    border: 2px solid rgb(0, 0, 0);
  }
}
.busqueda_constructores {
  display: flex;
  justify-content: center;
  width: 90%;
}

.btn_buscar_presupuestoss {
  background-color: colors.$primary;
  border: none;
  color: #111a2b;
  padding: 10px;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  margin-left: 1rem;
  width: 130px;
}
.btn_buscar_presupuestoss:hover {
  background-color: #9d7d2a;
  color: #fff;
}

.title-section {
  text-align: left;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  margin-left: -1rem;
  margin-top: 2.4rem;
  max-width: 100%;
  margin-bottom: 1rem;
}

.title-section h1 {
  font-size: 2.2rem;
  font-weight: bold;
  margin: 0.5rem auto;
  color: colors.$secondary;
}

.title-section p {
  font-size: 1.25rem;
  margin-top: 1rem;
  text-align: left;
  color: #000000;
  font-weight: 400;
}

.contenedor-imagenes {
  flex-direction: center;
  gap: 90px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  padding: 3rem;
}

.contenedor-imagenes img {
  border-radius: 50%;
  box-shadow: 3px 3px 3px 3px #ffffff;
  width: 220px;
  height: 220px;
  object-fit: cover;
  mask-image: none;
}
