.containerphxi {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav content aside"
    "footer footer footer";
  grid-template-columns: 100px 1fr 100px;
  grid-template-rows: 400px;
  gap: 5px;
  background: #fdbe33;
  display: flex;
  flex-wrap: wrap;
}
@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(60px) scale(0.95);
    filter: blur(8px);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
    filter: blur(0);
  }
}

.contentpxxi {
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 800px;
  height: 200px;
  margin-top: 4rem;
  margin-left: 40rem;
  margin-bottom: 18rem;
}

.contnavpxxi {
  margin-top: -5rem;
  margin-left: 15rem;
}
.tixtsssxi {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 72px;
  letter-spacing: -1.5px;
  color: #030f27;
  text-align: center;
  margin: 0;
  font-size: clamp(20px, 8vw, 44px);
}

.navsistemas {
  margin-left: 13rem;
  margin-bottom: 2rem;
}

.paxfoxi {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: -1.5px;
  color: #030f27;
  text-align: center;
  margin: 1rem 0 0 0;
}

@media (min-width: 1900px) {
  .navsistemas {
    width: 800px;
  }

  .contratusti {
    margin-left: 10rem;
  }
}

@media (max-width: 1500px) {
  .navsistemas {
    margin: 0 auto;
  }
}

@media (max-width: 950px) {
  .navsistemas {
    margin: 0 auto;
  }
  .contratusti {
    margin: 0 auto;
    width: 450px;
  }
}

@media (max-width: 500px) {
  .navsistemas {
    margin: 0 auto;
  }
  .contratusti {
    margin: 0 auto;
    width: 400px;
  }
}
