.dashboard-details {
  overflow-x: hidden;
}

.añadirnewmat {
  margin-top: 2rem;
  margin-left: 3rem;
}
.inputnombre {
  height: 50px;
  width: 800px;
  border-radius: 4px;
  display: flex;
  margin-top: 6rem;
  margin-left: -26rem;
  padding-left: 1rem;
  padding-top: 0.8rem;
}
.textarea {
  height: 100px;
  width: 800px;
  border-radius: 4px;
  display: flex;
  margin-top: 11rem;
  margin-left: -50rem;
  padding-left: 1rem;
  padding-top: 0.8rem;
}
.infopro {
  width: 600px;
  color: #ffd700;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 0.6rem;
  margin-left: 0.6rem;
}
.infoazul {
  background-color: #061840;
  width: 800px;
  height: 50px;
  margin-top: 19rem;
  margin-left: -50.5rem;
  border-radius: 4px;
  padding-left: 0.5rem;
}

.general {
  width: 200px;
  height: 50px;
  background-color: #efe1c8;
  border-radius: 4px;
  margin-top: 23rem;
  margin-left: -50rem;
}
.minitixs {
  font-size: 1.2rem;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  font-weight: 500;
}

.inventarios {
  width: 200px;
  height: 50px;
  background-color: #efe1c8;
  border-radius: 4px;
  margin-top: 27rem;
  margin-left: -12.5rem;
}

.fichatecnica {
  width: 200px;
  height: 50px;
  background-color: #efe1c8;
  border-radius: 4px;
  margin-top: 31rem;
  margin-left: -12.5rem;
}
.precioinputuno {
  height: 50px;
  width: 585px;
  border-radius: 4px;
  display: flex;
  margin-top: 23rem;
  margin-left: 1rem;
  padding-left: 1rem;
  padding-top: 0.8rem;
}

.precioinputdos {
  height: 50px;
  width: 585px;
  border-radius: 4px;
  display: flex;
  margin-top: 1rem;
  margin-left: 1rem;
  padding-left: 1rem;
  padding-top: 0.8rem;
}
.guardarproducto {
  width: 350px;
  height: 280px;
  background-color: #efe1c8;
  border-radius: 6px;
  margin-top: 6rem;
  margin-left: 1rem;
}
.apartadoazul {
  height: 50px;
  border-radius: 4px;
  width: 350px;
  background-color: #061840;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
}
.inf {
  width: 600px;
  color: #ffd700;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 0rem;
  margin-left: 0.6rem;
}

.imagendelproducto {
  width: 350px;
  height: 150px;
  background-color: #efe1c8;
  border-radius: 6px;
  margin-top: 24.1rem;
  margin-left: -22rem;
}
.productodos {
  width: 350px;
  height: 150px;
  background-color: #efe1c8;
  border-radius: 6px;
  margin-top: 34.1rem;
  margin-left: -22rem;
}
