@use "colors";

#landing_navbar {
  background-color: colors.$primary;
  padding: 2rem 3rem 0 3rem;

  #top_logo_name {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  #bottom_nav {
    background-color: colors.$secondary;
    ul {
      padding-left: 0;
      display: flex;
      li {
        list-style: none;
        display: flex;
        a {
          text-decoration: none;
          color: white;
          font-weight: 500;
          padding: 1.5rem 1.5rem;
        }
      }
    }
  }

  #logo {
    object-fit: contain;
    pointer-events: none;
    animation: App-logo-spin 5s linear;
  }

  @media (prefers-reduced-motion: no-preference) {
    #logo {
      animation: App-logo-spin 5s linear;
    }
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bottom_options_nav {
  width: 300px;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: colors.$secondary;
  padding: 0.5rem 1rem;
  border-top-left-radius: 0.25rem;
  .bottom_nav_container {
    .project_general_config_menu {
      position: absolute;
      bottom: 40px;
      width: 100%;
      background-color: colors.$secondary;
      color: colors.$primary;
      border-radius: 0.25rem;
      transition: 0.3s ease;
      .config_field {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 0.75rem 1rem;

        input {
          width: 100%;
        }
      }
      &.hide {
        bottom: -500px;
        transition: 0.6s ease;
      }
    }
    position: relative;
    ul {
      padding-left: 0;
      display: flex;
      gap: 12px;
      li {
        .bottom_nav_icon {
          display: flex;
          align-items: center;
          cursor: pointer;
        }
        list-style: none;
        color: colors.$primary;
      }
    }
  }
}

.activity_selector_nav {
  display: flex;
  gap: 12px;
  margin-bottom: 1rem;
  select {
    width: 100%;
    padding: 0.5rem;
  }
}
