.tituxks {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  margin-left: 130px;
  transition: transform 0.3s ease-out, color 0.3s, text-shadow 0.3s;
}

.subtixks {
  font-size: 1.2rem;
  color: #ffffff;
  margin-left: 130px;
  justify-content: left;
  text-align: left;
  transition: transform 0.3s ease-out, color 0.3s, text-shadow 0.3s;
}

.iconoclienteks {
  height: 0px;
  color: #fdbe33;
  font-size: 7rem;
  margin-bottom: 30px;
  transition: transform 0.3s ease-out, color 0.3s, text-shadow 0.3s;
}

@media (max-width: 1500px) {
  .tituxks {
    font-size: 1.6rem;
    margin-left: 9rem;
  }
  .subtixks {
    margin-left: 9rem;
  }
  .iconoclienteks {
    font-size: 7rem;
  }
}

@media (max-width: 950px) {
  .tituxks {
    font-size: 1.8rem;
    margin-left: 9rem;
  }
  .subtixks {
    margin-left: 9rem;
    width: 300px;
  }
  .iconoclienteks {
    font-size: 7rem;
  }
}

@media (max-width: 500px) {
  .tituxks {
    font-size: 1.3rem;
    margin-left: 5rem;
  }
  .subtixks {
    margin-left: 5rem;
    font-size: 1rem;
    width: 250px;
  }
  .iconoclienteks {
    font-size: 5rem;
  }
}
