.tituxks {
  font-size: 1.3rem;
  font-weight: bold;
  color: #fdbe33;
  margin-left: 130px;
  transition: transform 0.3s ease-out, color 0.3s, text-shadow 0.3s;
}
.tituxks:hover {
  transform: scale(1.1);
  color: #fdbe33;
}

.subtixks {
  font-size: 1rem;
  color: #fdbe33;
  margin-left: 130px;
  justify-content: left;
  text-align: left;
  transition: transform 0.3s ease-out, color 0.3s, text-shadow 0.3s;
  width: 500px;
}
.subtixks:hover {
  transform: scale(1.1);
  color: #fdbe33;
}

.iconoclienteks {
  width: 500px;
  height: 0px;
  color: #fdbe33;
  font-size: 70px;
  margin-top: 10px;
  transition: transform 0.3s ease-out, color 0.3s, text-shadow 0.3s;
  margin-right: 150px;
}

.iconoclienteks:hover {
  transform: scale(1.1);
  color: #fdbe33;
}
