.titulo {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #030f27;
  justify-content: center;
}

.subtitulo {
  font-size: 1.3rem;
  text-align: center;
  color: #030f27;
}

.icono {
  max-width: 100%; /* ✅ que no supere su celda */
  overflow-x: clip;
  height: 30px;
  color: #030f27;
  object-fit: cover;
  font-size: 150px;
  margin-top: 30px;
  transition: transform 0.3s ease-out, color 0.3s, text-shadow 0.3s;
}

.titulo {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  color: #030f27;
  margin-top: 18rem;
  transition: transform 0.3s ease-out, color 0.3s, text-shadow 0.3s;
  font-size: clamp(20px, 8vw, 54px);
}
.titulo:hover {
  transform: scale(1.1);
  color: #030f27;
}

.parrafo {
  font-size: 1.3rem;
  text-align: center;
  color: #030f27;
  transition: transform 0.3s ease-out, color 0.3s, text-shadow 0.3s;
}
.parrafo:hover {
  transform: scale(1.1);
  color: #030f27;
}
.titulos {
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  color: #030f27;
  margin-top: 1rem;
  margin-left: 230px;
  max-width: 100%; /* ✅ que no supere su celda */
  overflow-x: clip;
  transition: transform 0.3s ease-out, color 0.3s, text-shadow 0.3s;
}

.titulos:hover {
  transform: scale(1.1);
  color: #030f27;
}
.subtitulos {
  font-size: 1.3rem;
  text-align: center;
  color: #030f27;
  justify-content: center;
  align-items: center;
  margin-left: 230px;
  text-align: left;
  transition: transform 0.3s ease-out, color 0.3s, text-shadow 0.3s;
  width: 400px;
}

.subtitulos:hover {
  transform: scale(1.1);
  color: #030f27;
}

@media (max-width: 1500px) {
  .titulos {
    font-size: 1.6rem;
    margin-left: 9rem;
  }
  .subtitulos {
    margin-left: 9rem;
  }
  .icono {
    font-size: 7rem;
  }
}

@media (max-width: 950px) {
  .titulos {
    font-size: 1.8rem;
    margin-left: 9rem;
  }
  .subtitulos {
    margin-left: 9rem;
  }
  .icono {
    font-size: 7rem;
  }
}

@media (max-width: 500px) {
  .titulos {
    font-size: 1.3rem;
    margin-left: 5rem;
  }
  .subtitulos {
    margin-left: 5rem;
    font-size: 1rem;
    width: 280px;
  }
  .icono {
    font-size: 5rem;
  }

  .main-naver {
    margin-top: -9rem;
  }
  .main-header {
    margin: 0 auto;
  }
}
