.titulo {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: white;
  justify-content: center;
}

.subtitulo {
  font-size: 1.3rem;
  text-align: center;
  color: white;
}

.icono {
  width: 500px;
  height: 40px;
  color: black;
  object-fit: cover;
  font-size: 200px;
  margin-top: 30px;
}
.titulo {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  color: rgb(0, 0, 0);
  margin-top: 18rem;
}

.parrafo {
  font-size: 1.3rem;
  text-align: center;
  color: rgb(0, 0, 0);
}
.titulos {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: rgb(0, 0, 0);
  justify-content: center;
  margin-top: 1rem;
  margin-left: 200px;
  text-align: left;
}
.subtitulos {
  font-size: 1.3rem;
  text-align: center;
  color: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
  margin-left: 200px;
  text-align: left;
}
