.containerc {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav content aside"
    "footer footer footer";
  grid-template-columns: 0px 1fr 0px;
  grid-template-rows: 200px 1fr auto;
  background-color: #030f27;
}

.main-headerc {
  grid-area: header;
  background: #030f27;
  padding: 15px;
  text-align: center;

  view-timeline-name: --texto;
  view-timeline-axis: block;

  animation-timeline: --texto;
  animation-name: show;
  animation-range: entry 20% cover 35%;
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
  will-change: opacity, transform, filter;
}

.contentc {
  grid-area: content;
  background: #030f27;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.h1titulo {
  margin-top: 80px;
}
.tituloeicono {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: flex-start;
  margin-bottom: 5rem;
  margin-top: 6rem;
}
