.containerrse {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav content aside"
    "footer footer footer";
  grid-template-columns: 50% 1fr 50%;
  grid-template-rows: auto 1fr auto;
  gap: 5px;
  background-color: #fdbe33;
  display: flex;
  flex-wrap: wrap;
}

.main-naver {
  grid-area: nav;
  padding: 15px;
  margin-left: 4rem;
}

.sidebarar {
  grid-area: aside;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;
  margin-left: 6rem;
  max-width: 100%; /* ✅ que no supere su celda */
  overflow-x: clip;
}

/* Secciones */

/* Si quieres alturas mínimas: */
.section-foter {
  background: linear-gradient(to right, #ff9900 0%, #dc8400 51%, #995c00 100%);
  padding: 5rem 0;
  position: relative;
}

.section-foter1 {
  background-color: #030f27;
}

.section-foterrrer {
  background-color: #030f27;
}

.sectioncuatro {
  background-color: #fdbe33;
}

@media (max-width: 1300px) {
  .main-naver {
    margin: 0 auto;
  }
  .sidebarar {
    margin: 0 auto;
    margin-bottom: 3rem;
  }
}
