.sectioncuatro {
  display: grid;
  grid-template-areas:
    "header header header"
    "   nav nav aside"
    "footer footer footer";
  grid-template-rows: auto 1fr auto;
  display: flex;
  flex-wrap: wrap;
}

.navcuatro {
  grid-area: nav;
  max-width: 100%;
  overflow-x: clip;
}

.section-foot {
  grid-area: aside;
  margin: 0 auto;
}

.titulocuatro {
  font-weight: 600;
  margin-top: 3rem;
  color: #030f27;
  text-align: left;
  margin-left: 90px;

  view-timeline-name: --texto;
  view-timeline-axis: block;

  animation-timeline: --texto;
  animation-name: show;
  animation-range: entry 20% cover 35%;
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
  will-change: opacity, transform, filter;
}

.subtitulocuatro {
  font-size: 1.1rem;
  margin-top: 1rem;
  line-height: 1.6;
  text-align: left;
  color: #030f27;
  margin-left: 90px;
}
.btnregistrateya {
  background-color: #030f27;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 20px;
  margin-left: 90px;
  color: #fdbe33;
  letter-spacing: 2px;
  margin-bottom: 3rem;

  &:hover {
    background-color: #d1c496;
  }

  .sectioncinco {
    height: 400px;
    width: 100%;
    min-width: 100%;
  }
}
@media (max-width: 1300px) {
  .navcuatro {
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .navcuatro {
    text-align: center;
    margin-left: 0rem;
  }
  .btnregistrateya {
    margin-left: 0rem;
    text-align: center;
    margin-top: 2rem;
  }
  .titulocuatro {
    font-size: 25px;
    margin-left: 0rem;
    text-align: center;
  }
  .subtitulocuatro {
    margin-left: 0rem;
    text-align: center;
  }
}
