body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: white;
}

.sectioncuatro {
  display: grid;
  grid-template-areas:
    "navcuatro navcuatro navcuatro"
    "navcuatro navcuatro navcuatro"
    "footercuatro footercuatro footercuatro";
  grid-template-columns: 800px 1fr 800px;
  grid-template-rows: auto 1fr auto;
  height: 55vh;
}

.navcuatro {
  grid-area: navcuatro;
  background: #fdbe33;
  padding: 15px;
}

.footercuatro {
  grid-area: footercuatro;
  background: #030f27;
  padding: 15px;
  text-align: center;
  height: 100px;
}

.titulocuatro {
  font-weight: 600;
  margin-top: 3rem;
  color: #030f27;
  text-align: left;
  margin-left: 90px;

  view-timeline-name: --texto;
  view-timeline-axis: block;

  animation-timeline: --texto;
  animation-name: show;
  animation-range: entry 20% cover 35%;
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
  will-change: opacity, transform, filter;
}

.subtitulocuatro {
  font-size: 1.1rem;
  margin-top: 1rem;
  line-height: 1.6;
  text-align: left;
  color: #030f27;
  margin-left: 90px;
}
.btnregistrateya {
  background-color: #030f27;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 20px;
  margin-left: 90px;
  color: #fdbe33;
  letter-spacing: 2px;

  &:hover {
    background-color: #d1c496;
  }

  .sectioncinco {
    background-color: #000000;
    height: 400px;
    width: 100%;
    min-width: 100%;
  }
}
