.sesiondos {
  background-color: #fdbe33;
  display: grid;
  grid-template-areas:
    "header header header"
    "nav content aside"
    "footer footer footer";
  grid-template-columns: 600px 1fr 0px;
  grid-template-rows: auto 1fr auto;
  gap: 5px;
  display: flex;
  flex-wrap: wrap;
}
.rojocliente {
  grid-area: nav;
  padding: 15px;
  margin-top: 90px;
  mask-image: none;
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgb(255, 255, 255) 60%,
    transparent
  );
  view-timeline-name: --texto;
  view-timeline-axis: block;

  animation-timeline: --texto;
  animation-name: show;
  animation-range: entry 20% cover 35%;
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
  will-change: opacity, transform, filter;
}

.apartadoiconos {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 6rem;
  width: 500px;
  margin-left: 10rem;
}

@media (min-width: 1900px) {
  .apartadoiconos {
    margin-top: 3rem;
    margin-left: 10rem;
    width: 40%;
  }
  .rojocliente {
    margin-left: 18rem;
    margin-top: 7rem;
  }
}

@media (max-width: 1200px) {
  .apartadoiconos {
    margin: 0 auto;
    margin-bottom: 4rem;
  }
  .imagencliente {
    margin: 0 auto;
  }
}

@media (max-width: 1000px) {
  .apartadoiconos {
    margin: 0 auto;
    margin-bottom: 4rem;
  }
  .imagencliente {
    margin: 0 auto;
  }
}

@media (max-width: 508px) {
  .rojocliente {
    margin: 0 auto;
    width: 400px;
  }
}
