.section-foterrrer {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav content aside"
    "footer footer footer";
  gap: 5px;
}
.headerfot {
  grid-area: header;
  padding: 15px;
  margin: 0 auto;
  margin-left: 16rem;
  width: 1000px;
  text-align: center;
  view-timeline-name: --texto;
  view-timeline-axis: block;

  animation-timeline: --texto;
  animation-name: show;
  animation-range: entry 20% cover 35%;
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
  will-change: opacity, transform, filter;
}
.sid {
  grid-area: aside;

  padding: 15px;
}
.navfoty {
  grid-area: nav;
  padding: 15px;
}
.logofots {
  margin-left: 10rem;
  margin-top: 2rem;
}
.parrafoarriba {
  margin-top: 50px;
  font-size: 20px;
}
.parrafoabajo {
  font-size: 20px;
  margin-top: 25px;
}
.infoput {
  margin-top: 20px;
  font-size: 18px;
  color: rgb(244, 244, 244);
}
.formulario {
  margin-bottom: 6rem;
  margin-left: -20rem;
}

.formulario input {
  width: 80%;
  height: 60px;
  border: 10px;
  background: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.formulario input::placeholder {
  font-size: 18px;
  background-color: #030f27;
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  outline: none;
  border: 2px solid #fdfdfd;
}
.formulario textarea {
  font-size: 18px;
  background-color: #030f27;
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  outline: none;
  border: 2px solid #fdfdfd;
  width: 80%;
  height: 100px;
  color: #fdfdfd;
}
.env-msg {
  background-color: #fdbe33;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;

  &:hover {
    background-color: #d1c496;
  }
}
.logoherramientas {
  mask-image: none;
  margin-left: -4rem;

  -webkit-mask-image: linear-gradient(
    to right,
    rgb(255, 255, 255) 90%,
    transparent
  );
}

@media (min-width: 1700px) {
  .logoherramientas {
    margin-left: 34rem;
    mask-image: none;
    -webkit-mask-image: linear-gradient(
      to right,
      rgb(255, 255, 255) 90%,
      transparent
    );
  }
  .headerfot {
    margin-left: 26rem;
  }
  .logofots {
    margin-left: 25rem;
  }
}

@media (max-width: 1020px) {
  .section-foterrrer {
    grid-template-areas:
      "header "
      "nav "
      "aside";
    gap: 5px;
  }

  .formulario {
    margin: 0 auto;
  }

  .logofots {
    margin: 0 auto;
    width: 360px;
  }

  .navfoty {
    margin: 0 auto;
  }
  .sid {
    margin: 0 auto;
  }
  .logoherramientas {
    margin-left: -1rem;
  }
}

@media (max-width: 500px) {
  .logoherramientas {
    width: 400px;
  }
}
