@use "navbar";
@use "fonts";
@use "flex";
@use "buttons";
@use "grid";
@use "cards";
@use "spacing";
@use "layout";
@use "tables";
@use "forms";
@use "pills";
@use "warnings";
@use "colors";
@use "spinners";
@use "_materials";
@use "_sidebar";
@use "_rating";
@use "_listpresupuestos";
@use "_containers";
@use "_loading";
@use "_constructord";
@use "_provdashboard";
@use "_providercards";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;800;900&display=swap");

* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

#banner {
  position: relative;
  margin-top: 5rem;
  img {
    width: 100%;
  }

  #over_banner_info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(39, 39, 39, 0.76);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      width: 60%;
      color: white;
    }
  }
}

.cidein_footer {
  padding: 2rem 0.75rem;
  p {
    font-size: 1rem;
    text-align: left;
  }
}

.general_section {
  padding: 2rem 3rem;
}

//scrollBAr
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: colors.$secondary;
  border-radius: 0px;

  &:hover {
    transition: 0.5s ease;
    background: colors.$primary;
  }
}

.no_searched {
  text-align: center;
  span {
    font-size: 3rem;
  }
}

.no_select {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}

@media (max-width: 800px) {
  #banner {
    height: 450px;
  }
  #banner img {
    height: 450px;
  }
}

.context_menu{
  background-color: white;
  border: solid black 1px;
  color: colors.$secondary;
  user-select: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 12px;
  ul{
    min-width: 200px;
    padding-left: 0;
    li{
      padding: 4px 8px;
      list-style: none;
      cursor: pointer;
      &:hover{
        background-color: colors.$primary;
      }
    }
  }
}